{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}

{#}{{ form(form) }}{#}

{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		</div>
		<div class="col-lg-12">&nbsp;</div>
    </div>
    
    <div class="form-group form-begin-control">
    <div class="col-lg-10">
    	
		    
		{{ form_errors(form) }}
		{#}REMOVED{#}
		{#} 
	    {{ form_row(form.clientCode, {'widget_col': 2}) }}
	    {#}
	    {{ form_row(form.name) }}
	    {{ form_row(form.type, {'widget_col': 2}) }}

	    <fieldset id='block-billingAddress'>
	    	<legend>{{ form_label(form.billingAddress, '', {'label_col': 3, 'style': ' ', 'required': false })}}</legend>
	    	{#}{{ form_widget(form.billingAddress) }}{#}
		    {{ form_row(form.billingAddress.address) }}
		    <div class="row">
		    	<div class="col-lg-6">
		    		{{ form_row(form.billingAddress.zipcode, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8 }) }}
		    	</div>
		    	<div class="col-lg-6">
		    		{{ form_row(form.billingAddress.city, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8 }) }}
		    	</div>
		    </div>
		    {{ form_row(form.billingAddress.country,{ 'widget_col': 4}) }}
	    </fieldset>
		
		<fieldset id='block-shippingAddress'>
			<legend>{{ form_label(form.shippingAddress, '', {'label_col': 3, 'style': ' ', 'required': false  } )}}</legend>
			<div class="row">
				<label class="control-label col-lg-2"> </label>
				<div class="col-lg-10">
					{{ form_row(form.isSameAsBilling) }}
				</div>
			</div>
			
			{#}{{ form_widget(form.shippingAddress) }}{#}
			{{ form_row(form.shippingAddress.address) }}
		    <div class="row">
		    	<div class="col-lg-6">
		    		{{ form_row(form.shippingAddress.zipcode, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8 }) }}
		    	</div>
		    	<div class="col-lg-6">
		    		{{ form_row(form.shippingAddress.city, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8 }) }}
		    	</div>
		    </div>
		    {{ form_row(form.shippingAddress.country,{ 'widget_col': 4}) }}
		</fieldset>
		
		<fieldset id='block-contact'>
			<legend><label class="control-label">{% trans %}Contact{% endtrans %}</label></legend>
			
			<div class="row">
				<div class="col-lg-2">
					{{ form_label(form.contactName, '', {'label_col': 12}) }}
				</div>
				<div class="col-lg-10">
					<div class="form-group">
						<div class="col-lg-11">
							{{ form_widget(form.contactName) }}
						</div>
						<div class="col-lg-1 text-left">
							<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="Insert some tooltip text!"></i>
						</div>
					</div>
				</div>
			</div>
			
			
		    {{ form_row(form.phoneNumber) }}
		    {{ form_row(form.faxNumber) }}
		    {{ form_row(form.mobileNumber) }}
			 {{ form_row(form.taxId) }}
			  {{ form_row(form.remark) }}
		    <div class="row">
				<div class="col-lg-2">
					{{ form_label(form.email, '', {'label_col': 12}) }}
				</div>
				<div class="col-lg-10">
					<div class="form-group">
						<div class="col-lg-11">
							{{ form_widget(form.email) }}
						</div>
						<div class="col-lg-1 text-left">
							<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="Insert some tooltip text!"></i>
						</div>
					</div>
				</div>
			</div>
			
		    {{ form_row(form.website) }}
		    {{ form_row(form.instantMessaging) }}
		</fieldset>
		
		<fieldset id='block-preferences'>
			<legend><label class="control-label">{% trans %}Preferences{% endtrans %}</label></legend>
			{{ form_row(form.unit, {'widget_col': 4}) }}
	    	{{ form_row(form.currency, {'widget_col': 4}) }}
		</fieldset>
		
		<fieldset id='block-login'>
			<legend><label class="control-label">{% trans %}Login / Password{% endtrans %}</label></legend>
	    	{#}{{ form_row(form.users) }}{#}
	    	{#}{{ form_row(form.users[0].user.role) }}{#}
			{#}{{ form_row(form.users[0].name) }}{#}
			{#}{{ form_row(form.users[0].user.username) }}{#}
			{#}{{ form_row(form.users[0].user.email) }}{#}
			{{ form_row(form.users[0].user.loginVirtual) }}
			
			
	    	<div class="row" {% if company.id is empty %}style="display:none;"{% endif %}>
				<label class="control-label col-lg-2"> </label>
				<div class="col-lg-10">
					{{ form_row(form.users[0].user.changeMyPassword) }}
				</div>
			</div>
	    	
	    	{#}
	    	{{ form_row(form.users[0].user.oldPassword) }}
	    	{#}
	    	{{ form_row(form.users[0].user.plainPassword) }}
	    	{{ form_row(form.users[0].user.repeatPassword) }}
	    	
	    	
			
		</fieldset>
		
		{% if form.discount is defined %}
		<fieldset id='block-admin'>
			<legend><label class="control-label">{% trans %}Admin{% endtrans %}</label></legend>
			<div class="form-group">
				{{ form_label(form.discount, '', { 'style': 'horizontal', 'label_col': 2, 'widget_col': 3 }) }}
				<div class="col-lg-3">
					{{ form_row(form.discount, { 'label': false, 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 }) }}
					
				</div>
				<div class="col-lg-1">
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="Insert some tooltip text!"></i>
				</div>
			</div>
			
			<div class="form-group">
				{#}<label for="company_admin_fee" class="control-label col-lg-2">
					{% trans %}Admin Fee{% endtrans %}
				</label>
	
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6">{#}
							{{ form_row(form.adminFeeEur, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 }) }}
					{#}	</div>
						<div class="col-lg-6">{#}
				    		{{ form_row(form.adminFeeUsd, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 }) }}
				    	{#}</div>
		    		</div>
				</div>
				<div class="col-lg-1">
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="Insert some tooltip text!"></i>
				</div>{#}
			</div>
			
			<div class="form-group">
				<label for="company_admin_fee" class="control-label col-lg-2">
					{% trans %}Transport Fee{% endtrans %}
				</label>
	
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							{{ form_row(form.transportRemoteAreaSurcharge, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 }) }}
							{{ form_row(form.transportSafetySurcharge, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 }) }}
						</div>
		    		</div>
				</div>
				<div class="col-lg-1">
					{#}
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="Insert some tooltip text!"></i>
					{#}
				</div>
			</div>
			
			<div class="form-group">
				<label for="company_home_message" class="control-label col-lg-2">
					{% trans %}Home Message{% endtrans %}
				</label>
				<div class="col-lg-10">
					{{ form_row(form.homeMessageEn, {'style': ' '}) }}
		    		{{ form_row(form.homeMessageFr, {'style': ' '}) }}
				</div>
			</div>
		    
		</fieldset>
		{% endif %}
		
		{#}
		{{ form_row(form) }}
		{#}
	</div>
	</div>
	 
	 
    <div class="row block-button-2">
	    <!-- clone buttons from header to bottom section -->
    </div>
{{ form_end(form) }}


<style>
/*.form-horizontal > .form-group > label.col-lg-2 { display: none;}*/
.required:before{
   color: #e32;
   content: "* ";
   display:inline;
}
#company_isSameAsBilling, #company_users_0_user_changeMyPassword { margin-left: 0px; margin-right: 5px; }
label[for='company_isSameAsBilling'], label[for='company_users_0_user_changeMyPassword']{font-weight: bold;}
fieldset { margin: 20px 0px !important;}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
input#company_clientCode {
    text-transform: uppercase;
}

#block-admin input[type='checkbox'] {
	margin-left: -4px;
}
#block-admin label[for='company_transportRemoteAreaSurcharge'], 
#block-admin label[for='company_transportSafetySurcharge']
{
	margin-left: 8px;
}

#block-admin textarea {
	margin-left: 13px;
}
#block-admin label[for='company_homeMessageEn'], 
#block-admin label[for='company_homeMessageFr']
{
	margin-left: 14px;
}


</style>

<script type="text/javascript">
$(document).ready(function(){

	//form validation before submit
	$('form').submit(function(event){
		 if($('#company_users_0_user_plainPassword').val() != $('#company_users_0_user_repeatPassword').val()) {
	            alert("Password and Confirm Password don't match");
	            
	            // Prevent form submission
	            event.preventDefault();
	       }
	});

	//checkbox for change my password
	$('#company_users_0_user_changeMyPassword').click(function(){
		clickChangeMyPassword();
	});
	
	//clone buttons for both top & bottom
	$('.block-button-1 .col-lg-10').clone().appendTo('.block-button-2');

	$('button[name="company[cancel]"]').click(function(){
		parent.history.back();
		return false;
	});

	//use same address
	$('#company_isSameAsBilling').click(function(){
		clickUseSameAddressAsBilling();
	});

	//copy contact email to login
	$('#company_email').change(function(){
		$('#company_users_0_user_loginVirtual').val($('#company_email').val());
	});

	//trigger all init events on page load
	onPageLoad();
});

function onPageLoad(){
	
	//hide 'mandatory' item options
	clickUseSameAddressAsBilling();
	$('#company_email').trigger('change');

	{% if company.id is empty %}{#}create new{#}
		$('label[for="company_users_0_user_plainPassword"], label[for="company_users_0_user_repeatPassword"]')
		.parent().toggle(true);
	{% else %}
		$('label[for="company_users_0_user_plainPassword"], label[for="company_users_0_user_repeatPassword"]')
		.parent().toggle(false);
	{% endif %}
	
}

function clickUseSameAddressAsBilling(){
	if($('#company_isSameAsBilling').is(':checked')){
		$('#company_shippingAddress_address').val($('#company_billingAddress_address').val());
		$('#company_shippingAddress_zipcode').val($('#company_billingAddress_zipcode').val());
		$('#company_shippingAddress_city').val($('#company_billingAddress_city').val());
		$('#company_shippingAddress_country').val($('#company_billingAddress_country').val());
		$('label[for="company_shippingAddress_address"], label[for="company_shippingAddress_zipcode"], label[for="company_shippingAddress_city"], label[for="company_shippingAddress_country"]')
			.parent().toggle(false);
	}else{
		$('label[for="company_shippingAddress_address"], label[for="company_shippingAddress_zipcode"], label[for="company_shippingAddress_city"], label[for="company_shippingAddress_country"]')
		.parent().toggle(true);
	}
}

function clickChangeMyPassword(){
	if($('#company_users_0_user_changeMyPassword').is(':checked')){
		$('#company_users_0_user_plainPassword').val('');
		$('#company_users_0_user_repeatPassword').val('');
		
		$('label[for="company_users_0_user_plainPassword"], label[for="company_users_0_user_repeatPassword"]')
			.parent().toggle(true);
	}else{
		$('#company_users_0_user_plainPassword').val('');
		$('#company_users_0_user_repeatPassword').val('');
		
		$('label[for="company_users_0_user_plainPassword"], label[for="company_users_0_user_repeatPassword"]')
			.parent().toggle(false);
	}
}
</script>

{% endblock %}