{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}

{#}
<h4>{% trans %}Welcome to SignInox %name%{% endtrans %}</h4>
{#}

{{ render(controller("QuotemaxDashboardBundle:Quote:list", { 'layoutExcluded': 'true',  'includedFromRoute': 'qmxDashboard_default_index',  'page': app.request.get('page')})) }}


{#}App Global Variable{#}
{#}
<p>Username: {{ app.user.username }}</p>
{% if app.debug %}
    <p>Request method: {{ app.request.method }}</p>
    <p>Application Environment: {{ app.environment }}</p>
{% endif %}
{#}

{% endblock %}
