{% extends "FOSUserBundle::layout.html.twig" %} {#}Copy whole layout from this bundle & customize{#}

{#}
{% extends "QuotemaxUserBundle:Security:layout.html.twig" %}
{#}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


{#}TEMP CLOSING, LOGO AT HEADER{#}
{#}
<div class="row">
	<div class="col-md-12">&nbsp;</div>
	
	<div class="col-md-3">
		<img src="{{ asset('bundles/quotemaxdashboard/images/img-signInBox.png') }}" style="height: 60px;" />
	</div>
	<div class="col-md-3 col-md-offset-6 text-right">
		<img src="{{ asset('bundles/quotemaxdashboard/images/img-logo2.png') }}" style="height: 60px;" />
	</div>
</div>
{#}



<div class="row">
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-4  col-md-offset-4 text-center">
		<img class='logo-login' src="{{ asset('bundles/quotemaxdashboard/images/logo_vsignpro.png') }}" />
		
	</div>
</div>



<div class="row">
<div class="col-md-12">&nbsp;</div>
{#}
<div class="col-md-2  col-md-offset-7 col-custom-locale">{{ knp_menu_render('QuotemaxDashboardBundle:Builder:localeMenu', { 'style': 'pills' }) }}</div>
{#}

{% if error %}
<div class="row">
	<div class="col-md-4  col-md-offset-4">
    	<div class="alert alert-danger">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ error|trans }}
		</div> 
	</div>
</div>
{% endif %}
<div class="col-md-12">&nbsp;</div>
<div class="panel  panel-default col-md-4  col-md-offset-4">
	<div class="panel-body">
		<form class="form-basic" role="form" action="{{ path("fos_user_security_check") }}" method="post">
		
			<div class="form-group">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			    <label for="username">{{ 'Login'|trans }}</label>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'Enter username'|trans }}" />
			</div>
			
			<div class="form-group">		
			    <label for="password">{{ 'Password'|trans }}</label>
			    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'Enter password'|trans }}"/>
			</div>
			
			<div class="form-group hide">
			    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			</div>
			
		    <button type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" class="btn btn-primary btn-block" >
		    	<i class="fa fa-sign-in"></i>
		    	{{ 'Login'|trans }}
		    </button>
		</form>
	</div>
	

</div>
</div>
<style>
	.col-custom-locale { padding-left: 48px; height: 40px; }
</style>
{% endblock fos_user_content %}
