{#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<svg  xmlns="http://www.w3.org/2000/svg" width="300px" height="300px">
</svg>
</html>
{#}
<div id="block-dashboard-report-view" class="row">
<div class="col-md-12">
	<script src="https://code.jquery.com/jquery-1.11.1.js" type="text/javascript"></script>
	<script src="http://code.highcharts.com/4.0.1/highcharts.js"></script>
	<script src="http://code.highcharts.com/4.0.1/modules/exporting.js"></script>
	<script type="text/javascript" charset="utf-8">
		//chart.plotOptions.series.enableMouseTracking = false;
		//chart1.plotOptions.series.enableMouseTracking = false;
	    
		{{ chart(chart) }}
		
	    {{ chart(chart1) }}
	 
	    $(document).ready(function(){
				$("text:contains('Highcharts.com')").hide();
				 var chart = new Highcharts.Chart({
				        chart: { renderTo: 'line' },
				   
				        // These make it work nicely with wkhtmltopdf
				        plotOptions: { series: { 
					        				enableMouseTracking: false, 
					        				shadow: false, 
					        				animation: false, 
					        				showToolTip: false, 
					        				marker:{enabled: false},
					        				showInLegend: false
												
					         } },
				   
				        xAxis: { categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] },
				        series: [{ data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4] }],
				        credits: { enabled: false},
				        exporting: {enabled: false }
				   
				    });    
		    });

	</script>
	
	
	
	<div class="row">
		<div class="col-md-6">
			<div id="column" style="width: 400px;"></div>
			yoyo
		</div>
		
		<div class="col-md-6">
			<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		
		<div class="col-md-6">
			<div id="line" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		
	</div>
	
	
	
	
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	/*$('.datepicker').datepicker(
			{
				format: 'yyyy-mm-dd'
			}
	);*/
	/*$( "svg rect:nth-child(2)" ).attr( 'stroke', '#000000' );
	$( "svg rect" ).attr( 'fill', '#000000' );
	$( "svg rect" ).attr( 'strokeWidth', '22' );*/
	
});
	//To print into Image
	
</script>