{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
<div id="block-dashboard-report-view" class="row">
<div class="col-md-12">
	<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
	{#}<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>{#}
	<script type="text/javascript">
	    {{ chart(chart) }}
	    {{ chart(chart1) }}
	    $(document).ready(function(){
				$("text:contains('Highcharts.com')").hide();
		    });
	</script>
	
	<div class="row">
		<div class="col-md-4 col-md-offset-8 pull-right">
			{{ form(form, { 'style': 'inline' }) }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			&nbsp;
			<br />
			<br />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div id="column" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class="col-md-6">
			<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			&nbsp;
		</div>
		<div class="col-md-6 text-center">
			<h2>{{ conversionRate|number_format(2) }} %</h2>
		</div>
	</div>
	
	
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.datepicker').datepicker(
			{
				format: 'yyyy-mm-dd'
			}
	);
	
});
</script>
{% endblock %}