<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {#}Asset Management by AsseticBundle, http://symfony.com/doc/current/cookbook/assetic/asset_management.html {#}
        {#}{#}
        {% block stylesheets %}
        	{#}ToBeRemoved: >> 'css/*', not sure why named asset '@bootstrap_css' not work correctly {#}
        	{#}ToCheck: >> '@bootstrap_css', not include & work correctly just sometimes{#}
        	{% stylesheets 'css/bootstrap.css' '@QuotemaxDashboardBundle/Resources/public/css/*' '@QuotemaxDashboardBundle/Resources/public/js/datepicker/css/*' %} 
			    <link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
        {% endblock %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        
        
      
        {#}{#}
        {% javascripts '@jquery' '@bootstrap_js' '@QuotemaxDashboardBundle/Resources/public/js/*' '@QuotemaxDashboardBundle/Resources/public/js/datepicker/js/*' %}
    		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{#}Select2, https://select2.github.io/{#}
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
        
        <link rel="shortcut icon" href="{{ asset('bundles/quotemaxdashboard/images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
