{% if item.measureUnit == 'imperial' %}
	{% set unit = 'inch' %}
{% else %}
	{% set unit = 'cm' %}
{% endif %}

{% set height = item.height %}
{% set width = item.width %}
{% set depth = item.depth %}
{% set surface = item.surface %}
{% set perimeter = item.perimeter %}

{% if templateInclude is defined %}
{% if 'quotePreview' in templateInclude  %} {#}in case of preview, no need to be convert unit when inch selected{#}
	{% set height = item.heightDirect %}
	{% set width = item.widthDirect %}
	{% set depth = item.depthDirect %}
	{% set surface = item.surfaceDirect %}
	{% set perimeter = item.perimeterDirect %}
{% endif %}
{% endif %}

H {{ height }}{{ unit }} -
W {{ width }}{{ unit }} -
{% if depth > 0 %}
D {{ depth }}{{ unit }} -
{% endif %}
{% if quote.detail.product.id == 1 %}
S {{ surface }}{{ unit }} -
{% endif %}
{% trans %}Perimeter{% endtrans %} {{ perimeter|number_format(1) }}{{ unit }}
{% if templateInclude is defined %}
{% if 'quotePreview' in templateInclude  %}
	
{% endif %}
{% endif %}