 {#}
 	Border Array:
 		- http://css3pie.com/demos/border-radius/
 {#}
 <div class="btn-group btn-group-justified">
        <label id="block-quote-form-navbar-1" class="btn btn-success disabled btn-navbar">{% trans %}1. Details{% endtrans %}</label>
        <label id="block-quote-form-navbar-2" class="btn btn-default disabled btn-navbar">{% trans %}2. Review{% endtrans %}</label>
        <label  id="block-quote-form-navbar-3" class="btn btn-default disabled btn-navbar">{% trans %}3. Confirmation{% endtrans %}</label>
</div>