<div class="jumbotron">
<span style="font-style: italic; font-size: 12px;">
<h4><span class="label label-danger">DEBUG QUOTE CALCULATION</span></h4>
<span class="label label-info" style="font-size: 11px;">
	FORMULA NOTES:  '%a%' = Area Surface (width * height), 
					'%w%' = Width, 
					'%h%' = Height, 
					'%d%' = Depth, 
					'%p%' = Perimeter,
					'%s%' = Surface,
					'%v%' = Volume
</span>
<p>{{ auditLog|raw }}</p>
</span>
<style>
.txt-totalPrice{ font-size: 11px; }
</style>

</div>