{% set classColLbl = 'col-xs-3'  %}
{% set classColTxt = 'col-xs-8'  %}
<div id="block-dashboard-quote-view" class="row">
<div class="col-xs-12 col-xs-offset-0">

{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_itemTable.html.twig" %}
	
	
	
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	



</div>
</div>
