<div id="block-dashboard-quote-view-button" class="row">
<div class="col-xs-12">

	<div class="row">
		<div class="col-xs-4 col-xs-offset-6 text-right">
			<a class="btn-quote-pdf" href="{{ path('qmxDashboard_email_pdf_invoice', { 'id': quote.id }) }}" onClick="" title="{{ 'Export Invoice as PDF'|trans }}"><i class="fa fa-file-pdf-o fa-3x"> </i></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn-quote-print" href="{{ path('qmxDashboard_quote_print_invoice', { 'id': quote.id }) }}" onClick="" title="{{  'Print Invoice'|trans }}"><i class="fa fa-print fa-3x"> </i></a>
		</div>
		<div class="col-xs-1">	
			<a id="quote-view-button-back" href="#" class="btn btn-default" onclick="parent.history.back();return false;">&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;</a>
		</div>
		
	</div>
	
</div>
</div>
