<div id="block-pagination-body" class="row">
<div class="col-md-12">


	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped">
			<tr>
			{# sorting of properties based on query components #}
			    <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'i.id') }}</th>
			    <th{% if pagination.isSorted('i.roles') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type'|trans, 'i.roles') }}</th>
			    <th{% if pagination.isSorted('ud.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'ud.name') }}</th>
			    <th{% if pagination.isSorted('i.enabled') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Active'|trans, 'i.enabled') }}</th>
			    <th>{% trans %}Actions{% endtrans %}</th>
			</tr>
			
			{# table body #}
			{% for item in pagination %}
			<tr {% if loop.index is odd %}class="color"{% endif %}>
			    <td>{{ item.id }}</td>
			    <td>
			    	{% if 'ROLE_SUPER_ADMIN' in item.roles %}
			    		{% trans %}Super Admin{% endtrans %}
			    	{% elseif 'ROLE_ADMIN' in item.roles  %}
			    		{% trans %}Power User{% endtrans %}	
			    	{% else %}
			    		{% trans %}Company{% endtrans %}
			    	{% endif %}
			    </td>
			    <td>
			    	
			    	{% if item.detail.name is defined %}
			    		<a href="{{ path('qmxDashboard_admin_user_update', { 'id': item.id}) }}" onClick="" title="{{ 'Edit User'|trans }}">
				    		{{ item.detail.name }}
				    		{% if item.detail.company is defined %}
				    			<small>({{ item.detail.company.name }})</small>
				    		{% endif %}
			    		</a>
			    	{% endif %}
			    </td>
			    <td>
			    	{#}{{ item.enabled ? label_success('Yes') : label_danger('No') }}{#}
			    	{{ item.enabled ? '<i class="fa fa-check fa-lg" title="Active User"></i>' : '<i class="fa fa-times fa-lg" title="Inactive User"></i>' }}
			    	
			    </td>
			    <td>
			    	{% if 'ROLE_SUPER_ADMIN' in item.roles %}
			    		
			    	{% else %}
			    		<a href="{{ path('qmxDashboard_admin_user_update', { 'id': item.id}) }}" onClick="" title="{{ 'Edit User'|trans }}"><i class="fa fa-edit fa-lg"> </i></a>
			    		<a href="{{ path('qmxDashboard_admin_user_delete', { 'id': item.id}) }}" onClick="return confirm('Are you sure to delete this item?');" title="{{  'Delete User'|trans }}"><i class="fa fa-trash-o fa-lg"> </i></a>
			    	{% endif %}
			    	
			    </td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-2 pull-left">
			 {# total items count #}
				<div class="count">
				     {% trans %}Total Users{% endtrans %}: <span class="badge">{{ pagination.getTotalItemCount }}</span>
				</div>
		</div>
		<div class="col-md-4 pull-left">
			{# display navigation #}
			<div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
		</div>
		
		<div class="col-md-2 col-md-offset-4 text-right">
			<a href="{{ path('qmxDashboard_admin_user_create') }}" class="btn btn-primary">{% trans %}Add New{% endtrans %}</a>
		</div>
	</div>
	
	
</div>
</div>




