{% trans %}Hello{% endtrans %}
{% trans %}Login{% endtrans %}
{% trans %}Password{% endtrans %}
{% trans %}Enter username{% endtrans %}
{% trans %}Enter password{% endtrans %}
{% trans %}Quote{% endtrans %}
{% trans %}Order Confirmation{% endtrans %}
{% trans %}History{% endtrans %}
{% trans %}Reports{% endtrans %}
{% trans %}Admin{% endtrans %}
{% trans %}Profile{% endtrans %}
{% trans %}Logout{% endtrans %}
{% trans %}QuoteMax Admin{% endtrans %}
{% trans %}Companies Management{% endtrans %}
{% trans %}Products{% endtrans %}
{% trans %}Transport Rates{% endtrans %}
{% trans %}General{% endtrans %}
{% trans %}QuoteMax Admin{% endtrans %}
{% trans %}Actions{% endtrans %}
{% trans %}Currency{% endtrans %}
{% trans %}Currency Rates{% endtrans %}

{% trans %}Company (for admin only){% endtrans %}
{% trans %}Save Changes{% endtrans %}
{% trans %}Cancel{% endtrans %}
{% trans %}Unit{% endtrans %}
{% trans %}Pattern Type{% endtrans %}
{% trans %}Repeat{% endtrans %}
{% trans %}of GraphicElements{% endtrans %}
{% trans %}Documents{% endtrans %}
{% trans %}Add Document{% endtrans %}
{% trans %}No file selected{% endtrans %}
{% trans %}Delete Document{% endtrans %}
{% trans %}File Name{% endtrans %}
{% trans %}Element (for letters or graphic logos){% endtrans %}
{% trans %}Height{% endtrans %}
{% trans %}Width{% endtrans %}
{% trans %}Depth{% endtrans %}
{% trans %}Perimeter{% endtrans %}
{% trans %}Surface{% endtrans %}
{% trans %}Are you sure to proceed Confirm with this quote?{% endtrans %}
{% trans %}Are you sure to delete this item?{% endtrans %}
{% trans %}Monthly Quote{% endtrans %}
{% trans %}Month{% endtrans %}
{% trans %}Num Of Quotes{% endtrans %}
{% trans %}Conversion Rate{% endtrans %}
{% trans %}Confirmed{% endtrans %}
{% trans %}Unconfirmed{% endtrans %}
{% trans %}Welcome to Admin Management{% endtrans %}
{% trans %}Company Code{% endtrans %}
{% trans %}Company Name{% endtrans %}
{% trans %}Activity{% endtrans %}
{% trans %}Billing Address{% endtrans %}
{% trans %}Manufacturer{% endtrans %}
{% trans %}Wholesaler{% endtrans %}
{% trans %}Retailer{% endtrans %}
{% trans %}Architect{% endtrans %}
{% trans %}Address{% endtrans %}
{% trans %}Zip Code{% endtrans %}
{% trans %}Postal{% endtrans %}
{% trans %}City{% endtrans %}
{% trans %}Country{% endtrans %}
{% trans %}Shipping Address{% endtrans %}
{% trans %}Use same address as billing{% endtrans %}
{% trans %}Contact{% endtrans %}
{% trans %}Contact Name{% endtrans %}
{% trans %}Phone Number{% endtrans %}
{% trans %}Fax Number{% endtrans %}
{% trans %}Mobile Number{% endtrans %}
{% trans %}E-mail{% endtrans %}
{% trans %}Website{% endtrans %}
{% trans %}Instant Messaging{% endtrans %}
{% trans %}Units{% endtrans %}
{% trans %}Role{% endtrans %}
{% trans %}Company User{% endtrans %}
{% trans %}Change my password{% endtrans %}
{% trans %}Old Password{% endtrans %}
{% trans %}New Password{% endtrans %}
{% trans %}Discount{% endtrans %}
{% trans %}Admin Fee {% endtrans %}
{% trans %}Transport Fee{% endtrans %}
{% trans %}Remote Area Surcharge{% endtrans %}
{% trans %}Safety Surcharge{% endtrans %}
{% trans %}Attention Required (English){% endtrans %}
{% trans %}Attention Required (French){% endtrans %}
{% trans %}Import Rates (.csv only){% endtrans %}
{% trans %}Import rates{% endtrans %}
{% trans %}download transport rate template in CSV file{% endtrans %}
{% trans %}Are you sure to proceed with importing transport rates?{% endtrans %}
{% trans %}Successfully imported new transport rates.{% endtrans %}
{% trans %}Successfully created quote.{% endtrans %}
{% trans %}Successfully updated quote.{% endtrans %}
{% trans %}Successfully deleted quote.{% endtrans %}
{% trans %}Successfully updated quote with new status{% endtrans %}
{% trans %}Sent email attached with PDF to{% endtrans %}
{% trans %}Attention Required{% endtrans %}
{% trans %}Information{% endtrans %}
{% trans %}Are you sure to proceed with updating currency rates?{% endtrans %}
{% trans %}Are you sure to proceed with updating homepage messages?{% endtrans %}
{% trans %}select company{% endtrans %}
{% trans %}Post Code{% endtrans %}
{% trans %}Client Code{% endtrans %}
{% trans %}Country Name{% endtrans %}
{% trans %}Stupid faced one{% endtrans %}
{% trans %}Hello{% endtrans %}
{% trans %}Hello{% endtrans %}
{% trans %}Hello{% endtrans %}
{% trans %}Hello{% endtrans %}
{% trans %}Hello{% endtrans %}
{% trans %}Hello{% endtrans %}

