{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}

{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}


{% block linkElement %}
	<a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>
		{% if item.attribute('icon') is not empty %}
			<i class="{{ item.attribute('icon') }}"> </i>
		{% endif %}
		{{ block('label') }}
	</a>
{% endblock %}

{% block dropdownElement %}
{% spaceless %}
    {% set labelAttributes = item.labelAttributes %}
    {% set labelAttributes = labelAttributes|merge({'class': (labelAttributes.class|default('') ~ ' dropdown-toggle')|trim}) %}
    {% set labelAttributes = labelAttributes|merge({'data-toggle': 'dropdown'}) %}
    <a href="#"{{ _self.attributes(labelAttributes) }}>
    	{% if item.attribute('icon') is not empty %}
			<i class="{{ item.attribute('icon') }}"> </i>
		{% endif %}
    	{{ block('label')|upper }} <b class="caret"></b>
    </a>
{% endspaceless %}
{% endblock dropdownElement %}

