<div id="block-flag-status" class="row">
<div class="col-md-12">


	<div class="row">
		<div class="col-md-12">
			<i class="fa fa-flag fa-md fa-flag-yellow" title="{% trans %}pending{% endtrans %}"> {% trans %}New Pending{% endtrans %}</i>
			<i class="fa fa-flag fa-md fa-flag-green" title="{% trans %}confirmed{% endtrans %}"> {% trans %}Confirmed{% endtrans %}</i>
			<i class="fa fa-flag fa-md fa-flag-blue" title="{% trans %}paid{% endtrans %}"> {% trans %}Paid{% endtrans %}</i>
			<i class="fa fa-flag fa-md fa-flag-red" title="{% trans %}expired / cancelled{% endtrans %}"> {% trans %}Expired / Cancelled{% endtrans %}</i>
		
		</div>
	</div>
	

	
</div>
</div>

<style>
#block-flag-status .fa-flag{
	display: inline-block;
	margin-left: 15px;
}
</style>


