{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{% set classColLbl = 'col-md-2'  %}
{% set classColTxt = 'col-md-10'  %}

{#}Navbar Block{#}
	<div id="block-quote-form-navbar" class="row">
	    <div class="col-lg-5 col-lg-offset-1">
			{% include 'QuotemaxDashboardBundle:Quote:_sub/create_navbar.html.twig'%}
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="row">
	    <div class="col-lg-5 col-lg-offset-1">
			<h4>{% trans %}Thank you, your quotation has been generated successfully.{% endtrans %}</h4>

			<h4>{% trans %}Please check the details and confirm your order in the system{% endtrans %}</h4>
			
		</div>

	</div>
	

{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_view_button.html.twig' with { 'quote': quote} %}

<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-9 col-xs-offset-1">
<div class="row">
<div class="col-xs-12">
	
	{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_headerInvoice.html.twig" %}
	{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_clientLocation.html.twig"  with { 'templateInclude': 'quotation'} %}
	{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_dateAndTermsOfPayment.html.twig" with { 'templateInclude': 'quotation'} %}
	
	
	{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
	
	{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_remark.html.twig" with { 'templateInclude': 'quotation'}%}
	{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_cssStyleTemplate.html.twig" %}
	{#}
	<div class="row">
	    <div class="col-lg-5 col-lg-offset-0">
			{% if tokens is defined %}
				<p class="footer-note">
					{% trans %}Remark{% endtrans %}** : {% trans %}Quotation valid for a period of{% endtrans %} {{ options['tokens']['%quotation-validity-period%']}} {% trans %}days{% endtrans %}.
				</p>
			{% endif %}
		</div>
	</div>
	{#}
	
</div>
</div>
</div>
</div>


	
<style>
.footer-note{
	font-style: italic;
}
.btn-navbar {

	border-top-right-radius: 60px !important; 
	border-bottom-right-radius: 60px !important;
	opacity: 1.0 !important;
}


</style>

<script type="text/javascript">
$(document).ready(function(){
	//update navbar
	$('#block-quote-form-navbar-1').removeClass('btn-success').addClass('btn-primary');
	$('#block-quote-form-navbar-2').removeClass('btn-default').addClass('btn-primary');
	$('#block-quote-form-navbar-3').removeClass('btn-default').addClass('btn-success');
	$('#quote-view-button-back').toggle(false);
});
</script>


{% endblock %}