{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}

<div id="block-quote-form-outer" class="row">
<div class="col-lg-12">

	

{{ form_start(form, { 'style': 'horizontal' }) }}
	
	{#}Navbar Block{#}
	<div id="block-quote-form-navbar" class="row">
	    <div class="col-lg-5 col-lg-offset-1">
			{% include 'QuotemaxDashboardBundle:Quote:_sub/create_navbar.html.twig'%}
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	{#}Button Block{#}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	<div class="block-quote-form-button-preview">
			    {{ form_widget(form.cancel) }}
			    &nbsp;&nbsp;&nbsp;&nbsp;
			    {{ form_widget(form.nextStep) }}
			    
			    {% if is_granted('ROLE_ADMIN') %}
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <a href ="{{ path('qmxDashboard_admin_company_create') }}" target="_new" class="btn btn-primary" title="{% trans %}Create Profile{% endtrans %}">{% trans %}Create Profile{% endtrans %}</a>
		    	{% endif %}
		    </div>
		    <div class="block-quote-form-button-submit" style="display:none;">
			    {{ form_widget(form.backEdit) }}
			     &nbsp;&nbsp;&nbsp;&nbsp;
			    {{ form_widget(form.saveChanges) }}
			    
		    </div>
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	
	{#}Form Block{#}
	<div id="block-quote-form" class="form-group form-begin-control">
    <div class="col-lg-10 col-lg-offset-1">
    	{{ form_errors(form) }}
    	
    	{% if is_granted('ROLE_ADMIN') %}
    		{{ form_row(form.company, {'attr': {'class': 'select2'}}) }}
    	{% else %}
    		{{ form_row(form.company, {'attr': {'class': 'hide'}, 'label_attr': {'class': 'hide'}}) }}
    	{% endif %}
    	
    	{#}
		{{ form_row(form.code, { 'label': 'Quotation'|trans ~ ' #'  }) }}
		{#}
		
    	<fieldset id='block-querySummary'>
	    	<legend><label class="control-label">{% trans %}Project details{% endtrans %}</label></legend>
	    	{{ form_row(form.name) }}
	    	{#}{{ form_row(form.description) }}{#}
			{{ form_row(form.quantity) }}
			{{ form_row(form.currency) }}
			{{ form_row(form.measureUnit) }}
	    </fieldset>
	    
	    
	    <fieldset id='block-itemDesign'>
	    	<legend><label class="control-label">{% trans %}Specifications{% endtrans %}</label></legend>
	    	{{ form_row(form.detail.product) }}
			{{ form_row(form.detail.designType, {'label_attr' : {'for': 'quote_detail_designType'} }) }}
			<div class="row" id="block-quote_detail_letter">
				<div class="col-md-12">
					{{ form_row(form.detail.letter, {'attr': {'placeholder': 'Enter your text'|trans} })  }}
				</div>
			</div>
			<div class="row" id="block-quote_detail_letterRepeat">
				<div class="col-md-12">
					{{ form_row(form.detail.letterRepeat, {'attr': {'placeholder': 'Enter your text'|trans} }) }}
				</div>
			</div>
			{#}
			<div class="row" id="block-quote_detail_numOfGraphicItem">
				<div class="col-md-12">
					{{ form_row(form.detail.numOfGraphicItem) }}
				</div>
			</div>
			{#}
		   <div class="row" id="block-quote_detail_numOfGraphicItem">
				<div class="col-md-2 vcenter">
					{{ form_label(form.detail.numOfGraphicItem, '', {'label_col': 10, 'style': 'horizontal' }) }}
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="{% trans %}(TBD){% endtrans %}"></i>
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-12">
							<div class="col-xs-2">
								{{ form_widget(form.detail.numOfGraphicItem) }}
							</div>
							<div id="block-numOfGraphicItem-names" class="col-xs-3">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
			
			{#}
			{{ form_row(form.detail.documents) }}
			{#}
			<div class="row">
			<div class="col-md-2 vcenter">
					{{ form_label(form.detail.documents, '', {'label_col': 10, 'style': 'horizontal' }) }}<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="{% trans %}This file must match strictly to the product described.{% endtrans %}"></i>
					<h6 class="text-left">
						<code class="space-normal">
						{% trans %}upload vector file{% endtrans %} <br/>(.ai, .eps, .pdf, .cdr)
						</code>
					</h6>
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-2">
							{{ form_widget(form.detail.documents) }}
							{#}document, display uploaded document{#}
							{% if quote is defined %}
								{% if quote.detail.documents is defined %}
									{% for doc in quote.detail.documents %}
										<a href="{{ asset(doc.getWebPath) }}" target="_new">{{ doc.getFilename }}</a>
										<br>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="col-md-2" stlye="margin-right:100px;">
					{{ form_label(form.detail.scaleOption, '', {'label_col': 10, 'style': 'horizontal' }) }}
					
					</div><div>{{ form_widget(form.detail.scaleOption, {'attr' : {'class': 'form-inline col-xs-4'} }) }}</div>
				
				<div class="col-md-2">
						
							<div id="block-otherscale" class="col-md-12">
								{{ form_widget(form.detail.otherScale, {'attr' : {'class': 'input-sm', 'style': ' width: 85%; margin-left: -30px;'} }) }}
								<div class="col-md-2><i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="{% trans %}Ex. : ½, 1/10{% endtrans %}"></i>
								{#}
									{{ form_label(form.detail.otherScale) }}
									
								{#}
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-md-10">
					<div class="form-group">
						
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-2 vcenter">
					{{ form_label(form.detail.otherDocuments, '', {'label_col': 10, 'style': 'horizontal' }) }}
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="{% trans %}Ex. : pictures, drawings, etc ...{% endtrans %}"></i>
					{#}
					<h6 class="text-left">
						<code class="space-normal">
						{% trans %}upload vector file <br/>(.ai, .eps, .pdf, .cdr){% endtrans %}
						</code>
					</h6>
					{#}
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-6">
							{{ form_widget(form.detail.otherDocuments) }}
							{#}document, display uploaded document{#}
							{% if quote is defined %}
								{% if quote.detail.otherDocuments is defined %}
									{% for doc in quote.detail.otherDocuments %}
										<a href="{{ asset(doc.getWebPath) }}" target="_new">{{ doc.getFilename }}</a>
										<br>
									{% endfor %}
								{% endif %}
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
			
			
	    </fieldset>
	    
	    
	    <fieldset id='block-materialsFinishes'>
	    	<legend><label class="control-label">{% trans %}Materials / Finishes  & Mountings{% endtrans %}</label></legend>
	    	{{ form_row(form.detail.itemOptions, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 } ) }}
	    		<div class="col-md-2 vcenter">
					{{ form_label(form.detail.remark, '', {'label_col': 10, 'style': 'horizontal' }) }}
					<i class="_tooltip fa fa-question-circle fa-lg" href="#" data-toggle="tooltip" title="{% trans %}Ex. : color ref., type of paint (matt, satin, gloss), acrylic color (other than white), color of adhesive film, length of studs, length of spacers, special inserts, etc ...{% endtrans %}"></i>
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-12">
							{{ form_widget(form.detail.remark) }}
						</div>
					</div>
				</div>
				</fieldset>
	  {#}   <fieldset id='block-options'> {#}
	   {#} 	<legend><label class="control-label">{% trans %}Options{% endtrans %}</legend> {#}
	
	  {#}  </fieldset> {#}
	    
	    <fieldset id='block-itemDimensions'>
	    	<legend><label class="control-label">{% trans %}Item Dimensions{% endtrans %} <span class="text-note"><code class="space-normal">(units in '<span id="text-unit">mm.</span>')</code></span></label></legend>
	    	{{ form_row(form.detail.items) }}
	    </fieldset>
		
		
		
	</div>
	</div>
	
	
	{#}Form Preview Block{#}
	<div id="block-quote-form-preview" class="row" style="display:none;">
		<div class="col-lg-10 col-lg-offset-1">
			{#}PUT PREVIEW QUOTE CONTENT{#}
		</div>
	</div>
	
	
    <div class="row block-button-2">
	    <!-- clone buttons from header to bottom section -->
    </div>
{{ form_end(form) }}


</div>
</div>






<style>
div.radio label.col-lg-2 {min-width: 100%; padding-left: 0px; }
div#quote_detail_items div.form-group {}
/*input[id*='quote_detail_items_'] { width: 75%; }*/

/*.form-horizontal > .form-group > label.col-lg-2 { display: none;}*/
.required:before{
   color: #e32;
   content: "* ";
   display:inline;
}
.radio .required:before { content: ""; }

fieldset { margin: 20px 0px !important;}
.radio { margin-right: 30px; }
#quote_detail_itemOptions  .sr-only { 
	height: 100% !important; 
	/*width: 100% !important; */
	position: relative !important; 
	overflow: unset !important; 
	display: inline;
	margin-right: 10px;
	}


#quote_detail_itemOptions .form-inline .form-group	{ width: 90% !important;}
#quote_detail_itemOptions .col-xs-0, #quote_detail_items .col-xs-0 { display: none; } /*remove delete button*/
a[data-collection='quote_detail_itemOptions'], a[data-collection='quote_detail_items'] { display: none;} /*remove add button*/
#quote_detail_itemOptions select { margin-left: 15px; }
.btn-navbar {
	/*border-top-right-radius: 25px; 
	border-top-right-radius: 25px; 
	border-top-right-radius: 40px; 
	border-bottom-right-radius: 40px;*/
	/*border-radius: 40px;*/
	
	border-top-right-radius: 60px !important; 
	border-bottom-right-radius: 60px !important;
	opacity: 1.0 !important;
}

/* tooltip */
.vcenter .control-label {
    padding-right: 5px;
}
.vcenter i {
	margin-top: 9px;
}
code.space-normal {
	white-space: normal;
}
.text-note {
	font-size: 16px;
}

#quote_detail_scaleOption .radio:nth-child(2){
	margin-right: 0px;
}

#block-numOfGraphicItem-names .form-control{
	margin: 5px 0px;
}

.col-md-12 .col-xs-2 { /* for field '#quote_detail_numOfGraphicItem' */
	padding-left: 0px;
}

#quote_detail_scaleOption{
	padding-left: 0px;
}

</style>

<script type="text/javascript">
$(document).ready(function(){

	//clone buttons for both top & bottom
	$('.block-button-1 .col-lg-10').clone().appendTo('.block-button-2');

	//'Next Step' Button
	$('#quote_nextStep, .quote_nextStep').click(function(event){
		event.preventDefault();
		var $form = $('form');
		if ($form[0].checkValidity()) { //check if form is valid then display preview
			//event.preventDefault();
			//$form.preventDefault();
	        // valid code here
	        //alert('Form Valid!!');

	        $.ajax({
				url: "{{ path('qmxDashboard_quote_preview') }}?pid=" +  $('input[name="quote[detail][product]"]:radio:checked').val(),
				type: 'post',
				data: $("form").serialize(),
				success: function( data ) {

					//alert('yoyo= ' + data);
		
					$('#block-quote-form-preview div').html(data);
					$('#block-quote-form-preview').toggle(true);
					$('#block-quote-form').toggle(false);

					$('.block-quote-form-button-preview').toggle(false);
					$('.block-quote-form-button-submit').toggle(true);

					//update navbar
					$('#block-quote-form-navbar-1').removeClass('btn-success').addClass('btn-primary');
					$('#block-quote-form-navbar-2').removeClass('btn-default').addClass('btn-success');
					
				},
				error: function(event){
					alert('Invalid form input, please check !!');
				}
			});

	        
	    }else{
	    	//alert('Form In-Valid!!');
	    	//for trigger HTML5 client form validation
	    	 //$('#quote_saveChanges').click();  //this cause error to trigger twice
	    	$('button[name="quote[saveChanges]"]:first').click();
		}

	});


	//'Back / Edit' Button
	$('#quote_backEdit, .quote_backEdit').click(function(event){
		$('#block-quote-form-preview').toggle(false);
		$('#block-quote-form').toggle(true);

		$('.block-quote-form-button-preview').toggle(true);
		$('.block-quote-form-button-submit').toggle(false);

		//update navbar
		$('#block-quote-form-navbar-1').removeClass('btn-primary').addClass('btn-success');
		$('#block-quote-form-navbar-2').removeClass('btn-success').addClass('btn-default');
	});

	// 'Cancel' Button
	$('button[name="quote[cancel]"]').click(function(){
		parent.history.back();
		return false;
	});
	
	//pre-set form fields
	$('#quote_detail_letterRepeat').val($('#quote_detail_letter').val());
	
	
	

	//set toggle show/hide for 'sign type'

	
	$('input[name="quote[detail][designType]"]').change(function(){
		//if(confirm('{% trans %}Warning!! Data in Item Dimensions below will be empty if change this sign type!  Please click Ok to confirm. {% endtrans %}')){
			
			toggleSignType();
			resetLettersAndLogoElementAndItemDimension();

			//$('#quote_detail_items').text(' '); //removes all inputs in Item Dimenions
		//}
		
	});


	//'Product Type' field's events
	//get dynamic options form according to type of products
	$('input[name="quote[detail][product]"]').change(function(){

		//alter 'pid' at form submit
		var pid = $('input[name="quote[detail][product]"]:radio:checked').val();
		var formAction = $('form[name="quote"]').attr('action');
		var newAction = formAction.substr(0, formAction.length-1);
		newAction = newAction + pid;
		$('form[name="quote"]').attr('action', newAction);
		
		
		//alert('Product ID = ' + $('input[name="quote[detail][product]"]:radio:checked').val());
		$.ajax({
			url: "{{ path('qmxDashboard_quote_generate_product') }}",
			data: {
				'pid':  $('input[name="quote[detail][product]"]:radio:checked').val(),

			},
			success: function( data ) {
			
				$('#quote_detail_itemOptions').replaceWith($(data).find('#quote_detail_itemOptions'));

				triggerCheckHiddenItemOptions();
				reBindEventToDynamicControl();
				toggleSurfaceField();
			}
		});

		//trigger 'change' event
		toggleForProductType();
		resetSignTypeAndItemDimension(); //to reset all values in 'Sign Type' + 'Item Dimension'
		
	});


	//get dynamic items form according to letters + number of graphic logos
	$('#quote_detail_numOfGraphicItem').change(function(){
		//alert('Product ID = ' + $('input[name="quote[detail][product]"]:radio:checked').val());
		$.ajax({
			url: "{{ path('qmxDashboard_quote_generate_item') }}",
			data: {
				'letter':  $('#quote_detail_letter').val(),
				'numOfGraphicItem':  $('#quote_detail_numOfGraphicItem').val()

			},
			success: function( data ) {
				//var html = $(data).html();
				//html = html.replace(/layoutExcluded=true/gi, '');
	
				//alert('yoyo= ' + html);
	
				$('#quote_detail_items').replaceWith($(data).find('#quote_detail_items'));

				toggleDuplicateItemNameForGraphicalItem();
				
				toggleSurfaceField();
				
				//toggleForProductType(); //Removed no need to call this toggleForProductType in this event

			}
		});

		
	});

	$('#quote_detail_letter, #quote_detail_letterRepeat').change(function(){
		if($('#quote_detail_letter').val() == $('#quote_detail_letterRepeat').val()){
			$('#quote_detail_numOfGraphicItem').trigger('change');
		}
		
	});

	//check repeat letter
	$("#quote_detail_letterRepeat, #quote_detail_letter").change(function(){
	     if($("#quote_detail_letterRepeat").val() != $("#quote_detail_letter").val()){
	     	//alert("values do not match");
	        $("label[for='quote_detail_letter']").parent().addClass('has-error'); 
	        $("label[for='quote_detail_letterRepeat']").parent().addClass('has-error');      
	     }else{
	    	 $("label[for='quote_detail_letter']").parent().removeClass('has-error'); 
		     $("label[for='quote_detail_letterRepeat']").parent().removeClass('has-error');     
		  }
	});

	//toggle for Acrylic's options
	$("#quote_detail_itemOptions_2_categoryValue").change(function(){
		toggleAcrylicOptions();
	});

	//toggle text for unit type at title 'Item Dimension'
	$('#quote_measureUnit').change(function(){
		var text = $('#quote_measureUnit option:selected').text();
		$('#text-unit').text(text);
	
	});

	//toggle other scale text input
	$('input[name="quote[detail][scaleOption]"]').change(function(){
		var val = $('input[name="quote[detail][scaleOption]"]:checked').val();
		if(val != '1'){
			$('#block-otherscale').show();
		}else{
			
			$('#block-otherscale').hide();
		}
	});
	

	//trigger all init events on page load
	onPageLoad();

	//Suppressing the Default Bubbles
	{#}http://developer.telerik.com/featured/building-html5-form-validation-bubble-replacements/{#}
	/*document.querySelector( "input" ).addEventListener( "invalid",
	        function( event ) {
	            event.preventDefault();
	        });
	*/
});

function onPageLoad(){
	
	//hide 'mandatory' item options
	triggerCheckHiddenItemOptions();
	reBindEventToDynamicControl();
	toggleSurfaceField();
	toggleForProductType(); //commented out, no need for 'edit' case
	toggleAcrylicOptions();
	toggleSignType(); //change to call function, instead of directly trigger event, //$('input[name="quote[detail][designType]"]').trigger('change');
	$('#quote_measureUnit').trigger('change');
	$('input[name="quote[detail][scaleOption]"]').trigger('change');
	toggleDuplicateItemNameForGraphicalItem();

	//for case, create new
	setOneDocumentForMandatory();
}

function triggerCheckHiddenItemOptions(){
	$('#quote_detail_itemOptions li').each(function(index){
		$(this).has('select.hide').hide();
	});	
}

function reBindEventToDynamicControl(){
	//inox['Face Details'], set toggle show/hide for 'speical design'
	$('#quote_detail_itemOptions_0_categoryValue_20').click(function(){
		
		$('div[rel="Special Design"] input:radio:first').prop('checked',true);
		$('label[for="quote_detail_itemOptions_1_categoryValue_22"]').toggle(true);

	});
	$('#quote_detail_itemOptions_0_categoryValue_21').click(function(){
		
		$('div[rel="Special Design"] input:radio:first').prop('checked',true);
		$('label[for="quote_detail_itemOptions_1_categoryValue_22"]').toggle(false);


	});

	//AcryNox['Letter Thickness'], set toggle show/hide for 'Return'
	$('#quote_detail_itemOptions_0_categoryValue_43').click(function(){ // '20mm'
		
		$('div[rel="Return"] input:radio').prop('checked',false);
		$('label[for="quote_detail_itemOptions_2_categoryValue_59"]').toggle(false);

	});
	$('#quote_detail_itemOptions_0_categoryValue_57').click(function(){ // '30mm'
		
		$('div[rel="Return"] input:radio').prop('checked',false);
		$('label[for="quote_detail_itemOptions_2_categoryValue_59"]').toggle(true);


	});

	$("#quote_detail_itemOptions_2_categoryValue").change(function(){
		toggleAcrylicOptions();
	});
}

function toggleSurfaceField(){
	var pid = $('input[name="quote[detail][product]"]:radio:checked').val();

	switch(pid){
		case '1': //'Acrylic'
			$('input[name$="[surface]"]').toggle(true);
			break;
		case '2':
		case '3':
		case '4':
		case '5':	
		default: 
			$('input[name$="[surface]"]').toggle(false);
			break;
	}
}



function toggleForProductType(){ //set specific event for each product type
	var pid = $('input[name="quote[detail][product]"]:radio:checked').val();

	switch(pid){
		
		case '5': //'Plaque / Plate'
			toggleForLetterAndGraphicElement(false);
			$('input[name$="[depth]"]').toggle(false); //hide all 'depth' field
			$('input[name$="[depth]"]').val(0); 
			break;
		case '1': 
		case '2':
		case '3':
		case '4':	
		default: 
			toggleForLetterAndGraphicElement(true); //ToBeChecked:: commented out
			$('input[name$="[depth]"]').toggle(true);
			//$('input[name$="[depth]"]').val(''); //NOTE: unable to see empty otherwise when 'update' case would also be empty
			break;
	}
}

function toggleForLetterAndGraphicElement(result){

	var designTypeVal = $('input[name="quote[detail][designType]"]:radio:checked').val();

	
	//for case of 'plaque' product selected
	if(!result){ //when 'plague' selected 
		$('input[name="quote[detail][designType]"][value="lg"]').prop("checked", true);
	}else{

		//set deafult value to 'Letter' for 'designType' or 'signType' if no value selected 
		if(!designTypeVal){
			//ToBeCommented, migrate to set default at 'QuoteDetail' model
			//$('input[name="quote[detail][designType]"][value="lt"]').prop("checked", true);
		}
	}
	
	$('label[for="quote_detail_designType"]').parent().toggle(result);
	$('label[for="quote_detail_letter"]').parent().toggle(result);
	$('label[for="quote_detail_letterRepeat"]').parent().toggle(result);
	//$('label[for="quote_detail_numOfGraphicItem"]').parent().toggle(result);
	
}

/*
function toggleDepthField(){
	var pid = $('input[name="quote[detail][product]"]:radio:checked').val();

	switch(pid){
		case '5': //'Plaque / Plate'
			$('input[name$="[surface]"]').toggle(true);
			break;
		case '1':	
		case '2':
		case '3':
		case '4':	
		default: 
			$('input[name$="[surface]"]').toggle(false);
			break;
	}
}
*/

function toggleAcrylicOptions(){
	var cvId = $('#quote_detail_itemOptions_2_categoryValue option:selected').val();
	
	switch(cvId){
		case '5': //'Front illuminated'
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_6').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_9').attr('disabled', true);
			break;
		case '11':	//'Side illuminated (50%)'
		case '12': //'Side illuminated (100%)'	
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_7').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_8').attr('disabled', true);
			break;
		case '13': //'Reverse illuminated'
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_7').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_9').attr('disabled', true);
			break;
		case '14': //'Outlined illuminated'
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_6').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_9').attr('disabled', true);
			break;
		case '15': //'Front illuminated + 50% side illuminated'
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_6').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_8').attr('disabled', true);
			break;
		case '16': //'Front & reverse illuminated combined'
			activateAllAcrylicOptions();
			$('#quote_detail_itemOptions_3_categoryValue_6').attr('disabled', true);
			$('#quote_detail_itemOptions_5_categoryValue_9').attr('disabled', true);
			break;							
		default: 
			activateAllAcrylicOptions();
	}
	
}

function activateAllAcrylicOptions(){
	$('#quote_detail_itemOptions_3_categoryValue_6').attr('disabled', false);
	$('#quote_detail_itemOptions_3_categoryValue_7').attr('disabled', false);
	$('#quote_detail_itemOptions_5_categoryValue_8').attr('disabled', false);
	$('#quote_detail_itemOptions_5_categoryValue_9').attr('disabled', false);
}

function toggleDuplicateItemNameForGraphicalItem(){
	//reset block
	$("#block-numOfGraphicItem-names").text(' ');
	$('input[name*="quote[detail][items]"][name*="[type]"]').each(function(index){
			
			if($(this).val() == "lg"){//Logo element item, not letter
				var parentId = $('#quote_detail_items_' + index + '_name').attr('id');
				var item = $('#quote_detail_items_' + index + '_name').clone().removeAttr("id").removeAttr("name"); //@ #quote_detail_items_0_name
				
				item.change(function(event){
					//alert(item.val() + ' ' + parentId);
					$('#'+parentId).val(item.val());
				});
				item.appendTo("#block-numOfGraphicItem-names");
			}
		});
}

function setOneDocumentForMandatory(){
	{% if quote is not defined %} {#}for case, create new{#}
		$('#quote_detail_documents').find('a.btn-primary').trigger('click');
	{% elseif quote.id is defined %} {#}to skip required field for case, edit{#}
		//alert($('#quote_detail_documents').has('#quote_detail_documents_0_file').length);
		if(!($('#quote_detail_documents').has('#quote_detail_documents_0_file').length)){
			$('#quote_detail_documents').find('a.btn-primary').trigger('click');
		}
		$('#quote_detail_documents_0_file').removeAttr('required');
	{% endif %}
	$('#quote_detail_documents').find('a.btn-danger').hide();
	$('#quote_detail_documents').find('a.btn-primary').hide();

	
}

function removeAllInputsAboutNumOfGraphicItem(){
	$('#block-numOfGraphicItem-names').text(' ');
	
}

function toggleSignType(){ //designType (or signType)
	
	// #block-quote_detail_letterRepeat
	// #block-quote_detail_letter
	// #block-quote_detail_numOfGraphicItem
	
	
	
	switch( $('input[name="quote[detail][designType]"]:radio:checked').val()) {
    case 'lt':
    	$('#block-quote_detail_letter').toggle(true);
    	$('#block-quote_detail_letterRepeat').toggle(true);
    	$('#block-quote_detail_numOfGraphicItem').toggle(false);
    	$('#quote_detail_numOfGraphicItem').val(0);

    	//unable to trigger event, in case 'update' will disappear all values in item dimension ,
    	//$('#quote_detail_numOfGraphicItem').trigger('change'); //to update set of item dimenions to disappear
    	//then, mannually remove both places
    	//removeAllInputsAboutNumOfGraphicItem();
    	
        break;
    case 'lg':
    	$('#block-quote_detail_letter').toggle(false);
    	$('#block-quote_detail_letterRepeat').toggle(false);
    	$('#block-quote_detail_numOfGraphicItem').toggle(true);
    	$('#quote_detail_letter').val('');
    	$('#quote_detail_letterRepeat').val('');
    	
        break;
    case 'bh':
    	$('#block-quote_detail_letter').toggle(true);
    	$('#block-quote_detail_letterRepeat').toggle(true);
    	$('#block-quote_detail_numOfGraphicItem').toggle(true);
    	
        break;
    default:
    
	} 
}

function resetSignTypeAndItemDimension(){
	//set 'Sign Type' default at 'Letter' option
	$('input[name="quote[detail][designType]"][value="lt"]').prop("checked", true);

	//set empty to 'Letters' + 'Letters (re-type)' + '0' value to 'Logo Elements'
	$('#quote_detail_letter').val('');
	$('#quote_detail_letterRepeat').val('');
	$('#quote_detail_numOfGraphicItem').val(0);
	$('#block-numOfGraphicItem-names').text(' ');

	//reset all fields ('height' + 'width' + 'Depth' + etc..) under 'Item Dimensions'
	$('#quote_detail_items').text(' ');
	
	//trigger 'change' for 'Sign Type' field
	$('input[name="quote[detail][designType]"]').trigger('change');

	
}

function resetLettersAndLogoElementAndItemDimension(){
	//set empty to 'Letters' + 'Letters (re-type)' + '0' value to 'Logo Elements'
	$('#quote_detail_letter').val('');
	$('#quote_detail_letterRepeat').val('');
	$('#quote_detail_numOfGraphicItem').val(0);
	$('#block-numOfGraphicItem-names').text(' ');

	//reset all fields ('height' + 'width' + 'Depth' + etc..) under 'Item Dimensions'
	$('#quote_detail_items').text(' ');
}



</script>

{% endblock %}