{% block content %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}
{#}
{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
{#}

<div id="block-dashboard-quote-complete" class="row">
<div class="col-xs-11 col-xs-offset-1">

	<div class="row">
		<div class="col-xs-11">
			{% trans %}Dear Partner{% endtrans %},
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}Your quotation No{% endtrans %} {{ quote.code }} {% trans %}has been generated successfully{% endtrans %}.
			<br>
			{% trans %}Please check the details and confirm your order in the system asap to avoid any delays in our service.{% endtrans %}
			<br>
			{% trans %}Should you have any further questions please do not hesitate to contact us.{% endtrans %}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}Thank you{% endtrans %},
			<br>
			{% trans %}The Sales Team{% endtrans %}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>

</div>
</div>

<style>
	.col-xs-2 { display: inline-block !important;}
	.col-xs-8 { display: inline-block !important;}
</style>

{% endblock %}