{#}render all items{#}
{{ form_row(form.detail.items) }}

{#}render each item, due to need to categorize item between letter & graphical logo{#}
{#} NOT working
{% for item in form.detail.items %}
{{ form_widget(item) }}
{%  endfor %}
{#}