{% extends layoutExcluded ? 'QuotemaxDashboardBundle::layoutExcluded.html.twig' : 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
<div id="block-pagination" class="row"><div class="col-md-12">
<div id="block-pagination-header" class="row">
	
	{% if 'qmxDashboard_quote_list' in app.request.attributes.get('_route') or
			'qmxDashboard_order_list' in app.request.attributes.get('includedFromRoute') or
			'qmxDashboard_history_list' in app.request.attributes.get('includedFromRoute')
	%}
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-5">
				<div class="input-group">
				 <span class="input-group-btn">
			        <button id="btn-search" class="btn btn-primary" type="button" title="{% trans %}Search Quote{% endtrans %}"><i class="fa fa-search fa-mg"></i></button>
			      </span>
				  <input id="search-text" type="search" class="form-control" placeholder="{% trans %}Quotation #, Title, Client Code, Name{% endtrans %}">
				  <span id="search-clear" class="fa fa-times fa-mg"></span>
				</div>
				
			</div>
			{#}
			<div class="col-md-3 pull-left">
				<select id="search-type" class="form-control input-md" placeholder="Filter Type">
					<option value=''>{% trans %}Filter Type{% endtrans %}</option>
					<option value="a:0:{}">{% trans %}Company{% endtrans %}</option>
					<option value="ROLE_ADMIN">{% trans %}Admin{% endtrans %}</option>
				</select>

			 </div>
			{#}
		 </div>
	</div>
	{% else %}
	<div class="col-md-3 pull-left"><span class="page-title">{% trans %}Projects summary{% endtrans %}</span></div>
	<div class="col-md-2 col-md-offset-3 text-right pull-right">
		
		<a href="{{ path('qmxDashboard_quote_create') }}" class="btn btn-primary">{% trans %}New Quotation{% endtrans %}</a>
	</div>
	{% endif %}
	
	<div class="col-md-12">
		&nbsp;
	</div>
</div>

{% include 'QuotemaxDashboardBundle:Quote:_list.html.twig' with { 'pagination': pagination, 'includedFromRoute': app.request.attributes.get('includedFromRoute') } %}
</div></div>

{% if not app.request.xmlHttpRequest %}
<style>
	ul.pagination { margin: 0px 0px;}
	.fa-check { color: green; }
	.fa-times { color: red; }
	
	#search-clear {
	    position: absolute;
	    right: 5px;
	    top: 0;
	    bottom: 0;
	    height: 14px;
	    margin: auto;
	    font-size: 14px;
	    cursor: pointer;
	    color: #ccc;
	    display: none;
	}
</style>

<script type="text/javascript">
$( document ).ready(function() {

	//export pdf
	$('.btn-quote-pdf').click(function(event){
		event.preventDefault();
		window.open($(this).attr('href'));

	});

	//print
	$('.btn-quote-print').click(function(event){
		event.preventDefault();
		windowPrint = window.open($(this).attr('href'));
		//windowPrint.print();
	});


	//search filter
	$('#btn-search').click(function(){
		$.ajax({
			url: "{{ path('qmxDashboard_quote_list') }}",
			data: {
				'search-text':  $('#search-text').val(),
				//'search-type': $('#search-type option:selected').val(),
				'layoutExcluded': true
			},
			success: function( data ) {
				var html = $(data).html();
				html = html.replace(/layoutExcluded=true/gi, '');
	
				//alert('yoyo= ' + html);
	
				$('#block-pagination-body').replaceWith($(html).find('#block-pagination-body'));
			}
		});
	});
	$("#search-clear").click(function(){
	    $("#search-text").val('');
	    $("#search-clear").hide();
	});
	$("#search-text").keyup(function(){
	    if( $("#search-text").val().length){
	    	$("#search-clear").show();
		}else{
			$("#search-clear").hide();
		}
	});
	
});
		 
</script>
{% endif %}

{% endblock %}

