{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{% set classColLbl = 'col-md-2'  %}
{% set classColTxt = 'col-md-10'  %}


{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_view_button.html.twig' with { 'quote': quote} %}

<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-9 col-xs-offset-1">
<div class="row">
<div class="col-xs-12">

{#}Temp closing{#}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_headerInvoice.html.twig" %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_clientLocation.html.twig"  with { 'templateInclude': 'quotation'} %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_dateAndTermsOfPayment.html.twig" with { 'templateInclude': 'quotation'} %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote, 'options': options} %}

{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_remark.html.twig" with { 'templateInclude': 'quotation'} %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_quote_paymentInfo.html.twig" %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_cssStyleTemplate.html.twig"  %}

</div>
</div>
</div>
</div>

<div class="row">
		<div class="col-xs-1 col-xs-offset-10">	
			<a href="#" class="btn btn-default" onclick="parent.history.back();return false;">&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;</a>
		</div>	
</div>

{% if auditLog is defined %}
{% if auditLog is not empty %}
	<br><br>
	{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_debug.html.twig' with { 'auditLog': auditLog} %}
{% endif %}
{% endif %}

{% endblock %}