.logo-login{
   /*border: 5px solid #ccc;
   border-radius: 10px;
   height: 100px;*/
   height: 130px;
}

.logo-menu{
  /* border: 5px solid #ccc;
   border-radius: 10px;
   height: 70px;*/
   
   border: 0px solid #ccc;
   border-radius: 10px;
   height: 85px;
}

.logo-pdf{
   /*border: 5px solid #ccc;
   border-radius: 5px;
   height: 100px;
   */
   height: 100px;
}

.fa-fw {
    /*text-align: center;*/
    width: 1.08571em !important;
    font-size: 1.106em !important;
}
.page-title{
	font-size: 22px;
	padding-left: 10px;
	vertical-align: middle;
}
