{% block remark %}

<div class="row">
	{#}ROW 1{#}
	<div class="col-xs-12" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Remarks{% endtrans %}
			</div>
			<div class="col-xs-12 col-xs-offset-0">
				{% if templateInclude is defined and templateInclude == 'quotation' %}
					{#}{% trans %}Quotation valid for a period of{% endtrans %} {{options['tokens']['%quotation-validity-period%']}} {% trans %}days{% endtrans %}.{#}
					
					{{  quote.company.remark }}
				{% else %}
					{% trans %}Delivery{% endtrans %} {{ options['tokens']['%order-delivery-period%'] }} {% trans %}days{% endtrans %}
				{% endif %}
				 
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>

</div>
{% endblock %}