{% block paymentInfo %}

<div class="row">	
	{#}ROW 1{#}
	<div class="col-xs-12" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Please arrange payment by swift to{% endtrans %}:
			</div>
			<div class="col-xs-12 col-xs-offset-0">
				 
				 {{ quote.detail.product.company.detail.bankAccountInfo|nl2br }}
				 
			</div>
		</div>
	</div>
			
	<div class="col-xs-12">&nbsp;</div>
	
</div>
{% endblock %}