{% block itemTable %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-12" >
		<table class="table table-bordered table-border-black">
			<thead>
				<tr class="table-invoice-head">
					<th class="text-center">{% trans %}Item{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Description{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Qty{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Unit Price{% endtrans %}<br>({{ quote.currency|upper }})</th>
					<th class="text-center">{% trans %}Amount{% endtrans %}<br>({{ quote.currency|upper }})</th>
				</tr>
			</thead>
			
			<tbody>
				{#}
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				{#}
				
				{#}product price{#}
				{% set faceTrim = "" %}
				{% set faceTrimId = 0 %}
				{% set strinTrim = "" %}
				{% for option in quote.detail.itemOptions if 'O' in option.category.methodOfChoice %}
					{% if (option.category == "Face spec.") or (option.category == "Type de face") %}
				
								
						{% set strinTrim = option.categoryValue %}	
						
				{% if (option.categoryValue|first|lower == "d") or (option.categoryValue|first|lower == "a") %}
					{% set faceTrim='+ '~option.categoryValue %}
					
					
				
				{% endif %}
				{% endif %}
				{% endfor %}

			
				{% set countItem = 0 %}
				{% set subTotal = 0 %}
				{% set quant = 0 %}
				{% set itemNa = "" %}
				{% set amountB =0 %}
				{% set amountU = 0 %}
				{% set firstLetHgt = 0 %}
				{% set ProjectName = 0 %}
				{% set ProjectName = quote.name %}
				{% set ProductName = 0 %}
				{% set ProductName = quote.detail.product %}
				 {% set quoteLine = 1 %}
				 {% set firstLetName = "" %}
				{% set faceTrimId = 0 %}
				
				
				{% for item in quote.detail.items %}
				
				{%  if countItem == 0 %}
				{% set firstLetHgt = item.height %}
				{% set firstLetName = item.name %}
				{% endif %}
				{% set itemNa = itemNa ~' '~item.name %}
				
				{% set quant = quant+item.quantity %}
				{% set countItem = loop.index + 1 %}
				
				{% set amountB = item.priceSellingWithCurrencyConverted+amountB %}
				{% set amountU = amountU+item.priceSellingTotalAllWithCurrencyConverted %}
				
				
						{% set subTotal = subTotal + item.priceSellingTotalAllWithCurrencyConverted %}
				{% endfor %}
						<tr>
						<td class="text-center">{{ quoteLine }}</td>
						<td>
						
						 {% trans %}Project: {% endtrans %}	{{ ProjectName  }}  {{ quote.description }} <br>
							<span class="text-note-dimension">
							
							</span>
						</td>
						<td class="text-center">
					
							{{ quant }}
						</td>
						<td class="text-right">{{ amountB }}</td>
						<td class="text-right">{{ amountU }}</td>
						</tr>
					<tr>
						<td class="text-center">{% set quoteLine = quoteLine + 1 %} </td>
						<td>
					{% trans %}	Letters/Text{% endtrans %}: 
						{% if 'bh' in quote.detail.designType %}
			{% trans %}	Logo + {% endtrans %}
				{% endif %}
				"{{quote.detail.letter}}"   <br>
							<span class="text-note-dimension">
							
							</span>
						</td>
						<td class="text-center">
					
							
						</td>
						<td class="text-right"></td>
						<td class="text-right"></td>
						
					</tr>
					<tr>
						<td class="text-center">{% set quoteLine = quoteLine + 1 %} </td>
						<td>
						
						{% trans %}Product{% endtrans%}:	{{ ProductName  }} {{ faceTrim }} <br>
							<span class="text-note-dimension">
							
							</span>
						</td>
						<td></td>
						<td></td>
						<td></td>
						</tr>
					
						<tr>
						<td class="text-center">{% set quoteLine = quoteLine + 1 %} </td>
						<td>
						
							{% trans %}Dimension{% endtrans %}: {% trans %}According to the file provided - Height for{% endtrans %} {{ firstLetName }}: {{ firstLetHgt }}cm  <br>
							<span class="text-note-dimension">
							
							</span>
						</td>
						<td class="text-center">
					
							
						</td>
						<td class="text-right"></td>
						<td class="text-right"></td>
						
					</tr>
					{% for option in quote.detail.itemOptions if 'O' in option.category.methodOfChoice %}
					{% if (option.category == "Face spec.") or (option.category == "Type de face") %}
				
				{% else %}
		<tr>
						<td class="text-center">{% set quoteLine = quoteLine + 1 %}</td>
						<td>
						
				{{ option.category }}:
			
				{% if option.categoryValue is not empty %}
					{{ option.categoryValue }}
				{% else %}
					None selected
				{% endif %}
				         
                      				</td>
			<td class="text-center">
					
							
						</td>
						<td class="text-right"></td>
						<td class="text-right"></td>
						
					</tr>
					{% endif %}
					
	{% endfor %}
					
				<tr>
						<td class="text-center">{% set quoteLine = quoteLine + 1 %} </td>
						<td>
						
						{% trans %} Mounting template {% endtrans %}<br>
							<span class="text-note-dimension">
							
							</span>
						</td>
						<td></td>
						<td></td>
						<td></td>
						</tr>
				
				{#}transport price{#}
				{#}
				<tr>
					<td class="text-center">{{ countItem  }}</td>
					<td>Transport service</td>
					<td class="text-center">1</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
				</tr>
				{% set subTotal = subTotal + quote.priceTransportCC %}
				{#}
				
				{#} blank{#}
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				
				{#}sub total{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center table-invoice-cell-grey txt-strong">{% trans %}Sub-Total{% endtrans %}</td>
					<td class=" bordered text-right txt-strong">{{ subTotal }}</td>
				</tr>
				
				{#} blank{#}
				{#} 
				<tr><td>&nbsp;</td><td>&nbsp;</td><td  colspan="2"> </td><td>&nbsp;</td></tr>
				{#} 
				
				{#}discount{#}
				{%  if quote.discount != 0 %}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}discount{% endtrans %} ({{ options['tokens']['%discount%'] * 100 }}%)</td>
					<td class="bordered text-right">- {{ quote.discountCC }}</td>
				</tr>
				{% endif %}
				
				{#}admin fee{#}
				{%  if quote.adminFee != 0 %}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}administration fee{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.adminFeeCC  }}</td>
				</tr>
				{% endif %}
				
				{#}transport price{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}Freight{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceTransportCC  }}</td>
				</tr>
				
				{#}adaptor price{#}
				{% if quote.priceAdaptorCC > 0%}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}adaptor{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceAdaptorCC  }}</td>
				</tr>
				{% endif %}
				
				{#}vat{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center txt-strong"></td>
					<td class="bordered text-right"></td>
				</tr>
				
				{#}grand total{#}
				<tr>
					<td colspan="2" class="bordered table-invoice-cell-grey txt-strong">&nbsp;</td>
					<td colspan="2"  class="bordered table-invoice-cell-grey text-center txt-strong">{% trans %}TOTAL{% endtrans %} ({{ quote.currency|upper }})</td>
					<td class="bordered text-right txt-strong">{{ quote.priceGrandTotalCC  }}</td>
				</tr>
					
			</tbody>
		</table>
	</div>
</div>
{% endblock %}