{% block dateAndTermsOfPayment %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Date{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{% if (quote.status == "CON") or (quote.status == "PAD") or (quote.status == "DLV") %}
				{{ quote.confirmedAt|date("d-m-Y") }}
				{% else %}
				 {{ quote.createdAt|date("d-m-Y") }}
				 {% endif %}
			</div>
		</div>
	</div>
	
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Payment Terms{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{% trans %}Payment at delivery{% endtrans %}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{# if templateInclude is defined and templateInclude == 'quotation' #}
					{% trans %}Quotation No{% endtrans %}.
				{# else #}
				
				{# endif #}
				
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				 {{ quote.code }}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{# if templateInclude is defined and templateInclude == 'quotation' #}
					
				{# else #}
					{% trans %}Invoice No{% endtrans %}.
				{# endif #}
				
			</div>
			<div class="col-xs-10 text-center">
			TBA
				 {#}{{ quote.code[:7]|lower }} {#}
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
	
</div>
{% endblock %}