{% block cssStyleTemplate %}
<style>
.logo-pdf-invoice {
	height: 60px;
}		
.border-line-left{
	border-left: 1px solid #000;
	margin-left: 10px !important;
	padding-left: 4px !important;
}
.txt-strong{
	font-weight: bold;
}
.txt-italic{
	font-style: italic;
}
.block-radius{
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: -5px !important;
}
.table-invoice-head{
	background: none repeat scroll 0 0 #969696;
}
.text-note-dimension{
	font-size: 9px;
}

.table-border-black {
	border: 1px solid #000 !important;
}
.table-border-black th{
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}
.table-border-black td {
	border-top: 0px !important;
	border-bottom: 0px !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}

.table-border-black td.bordered{
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}

.table-invoice-cell-grey{
	background: none repeat scroll 0 0 #969696;
}
.nobreak {
    page-break-after: always;
}
</style>


{#}For fix Bootstrap 3 Printing in Google Chrome,  https://blog.donnierayjones.com/2014/10/fix-bootstrap3-printing/{#}
{% if 'qmxDashboard_quote_print' in app.request.attributes.get('_route') 
		or 'qmxDashboard_quote_print_invoice' in app.request.attributes.get('_route')  %}

<style>
@media print {
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float: left;
}
.col-xs-12 {
width: 100%;
}
.col-xs-11 {
width: 91.66666667%;
}
.col-xs-10 {
width: 83.33333333%;
}
.col-xs-9 {
width: 75%;
}
.col-xs-8 {
width: 66.66666667%;
}
.col-xs-7 {
width: 58.33333333%;
}
.col-xs-6 {
width: 50%;
}
.col-xs-5 {
width: 41.66666667%;
}
.col-xs-4 {
width: 33.33333333%;
}
.col-xs-3 {
width: 25%;
}
.col-xs-2 {
width: 16.66666667%;
}
.col-xs-1 {
width: 8.33333333%;
}
.col-xs-pull-12 {
right: 100%;
}
.col-xs-pull-11 {
right: 91.66666667%;
}
.col-xs-pull-10 {
right: 83.33333333%;
}
.col-xs-pull-9 {
right: 75%;
}
.col-xs-pull-8 {
right: 66.66666667%;
}
.col-xs-pull-7 {
right: 58.33333333%;
}
.col-xs-pull-6 {
right: 50%;
}
.col-xs-pull-5 {
right: 41.66666667%;
}
.col-xs-pull-4 {
right: 33.33333333%;
}
.col-xs-pull-3 {
right: 25%;
}
.col-xs-pull-2 {
right: 16.66666667%;
}
.col-xs-pull-1 {
right: 8.33333333%;
}
.col-xs-pull-0 {
right: auto;
}
.col-xs-push-12 {
left: 100%;
}
.col-xs-push-11 {
left: 91.66666667%;
}
.col-xs-push-10 {
left: 83.33333333%;
}
.col-xs-push-9 {
left: 75%;
}
.col-xs-push-8 {
left: 66.66666667%;
}
.col-xs-push-7 {
left: 58.33333333%;
}
.col-xs-push-6 {
left: 50%;
}
.col-xs-push-5 {
left: 41.66666667%;
}
.col-xs-push-4 {
left: 33.33333333%;
}
.col-xs-push-3 {
left: 25%;
}
.col-xs-push-2 {
left: 16.66666667%;
}
.col-xs-push-1 {
left: 8.33333333%;
}
.col-xs-push-0 {
left: auto;
}
.col-xs-offset-12 {
margin-left: 100%;
}
.col-xs-offset-11 {
margin-left: 91.66666667%;
}
.col-xs-offset-10 {
margin-left: 83.33333333%;
}
.col-xs-offset-9 {
margin-left: 75%;
}
.col-xs-offset-8 {
margin-left: 66.66666667%;
}
.col-xs-offset-7 {
margin-left: 58.33333333%;
}
.col-xs-offset-6 {
margin-left: 50%;
}
.col-xs-offset-5 {
margin-left: 41.66666667%;
}
.col-xs-offset-4 {
margin-left: 33.33333333%;
}
.col-xs-offset-3 {
margin-left: 25%;
}
.col-xs-offset-2 {
margin-left: 16.66666667%;
}
.col-xs-offset-1 {
margin-left: 8.33333333%;
}
.col-xs-offset-0 {
margin-left: 0%;
}
.visible-xs {
display: none !important;
}
.hidden-xs {
display: block !important;
}
table.hidden-xs {
display: table;
}
tr.hidden-xs {
display: table-row !important;
}
th.hidden-xs,
td.hidden-xs {
display: table-cell !important;
}
.hidden-xs.hidden-print {
display: none !important;
}
.hidden-sm {
display: none !important;
}
.visible-sm {
display: block !important;
}
table.visible-sm {
display: table;
}
tr.visible-sm {
display: table-row !important;
}
th.visible-sm,
td.visible-sm {
display: table-cell !important;
}
} 	

table {
	font-size: 13px;
}
			
</style>
{% endif %}
{% endblock %}