{% block clientLocation %}
<div class="row">
	{#}ROW 1{#}
	<div class="col-xs-12 pull-right text-right" >
		{% if templateInclude is defined and templateInclude == 'quotation' %}
			<h4 class="txt-strong">QUOTATION</h4>
		{% else %}
			<h4 class="txt-strong">PROFORMA INVOICE</h4>	
		{% endif %}
	</div>
	
	{#}ROW 2{#}
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Client{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.billingAddress.address }} <br>
				{{ quote.company.billingAddress.zipcode }} {{ quote.company.billingAddress.city }}<br>  {{ quote.company.billingAddress.country }} <br>
				<b>{% trans %}Contact:{% endtrans %}{{ quote.company.contactName }}</b><br />
				<b>{% trans %}Tel:{% endtrans %}</b> {{ quote.company.phoneNumber }} <br>
				<b>{% trans %}Tax Id:{% endtrans %}</b> {{ quote.company.taxID }} <br>
			</div>
		</div>
	</div>
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Delivery Address{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.shippingAddress.address }} <br>
				{{ quote.company.shippingAddress.zipcode }} {{ quote.company.shippingAddress.city }} <br> {{ quote.company.shippingAddress.country }} <br>
				<b>{% trans %}Contact:{% endtrans %}{{ quote.company.contactName }}</b><br />
				<b>{% trans %}Tel:{% endtrans %}</b> {{ quote.company.phoneNumber }} <br>
				<b>{% trans %}Tax Id:{% endtrans %}</b> {{ quote.company.taxID }} <br>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
</div>
{% endblock %}