{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="form-group form-begin-control">
	    <div class="col-lg-10 col-lg-offset-0">
	    	<div class="row" id="block-quote_detail_letterRepeat">
				<div class="col-md-3">
					{{ form_label(form.submitFile, '' , { 'style': 'horizontal', 'label_col': 12, 'widget_col': 0 } ) }}
	    			<a class="txt-link" title="{% trans %}download transport rate template in CSV file{% endtrans %}" href="{{ asset('uploads/import/transport-rate-template.csv') }}">
	    				({% trans %}download template (.csv){% endtrans %})
	    			</a>
	    	
				</div>
				<div class="col-md-9 block-fileUpload">
					{{ form_widget(form.submitFile, { 'style': 'horizontal', 'label_col': 0, 'widget_col': 12 } ) }}
					<span class="alert-red">(Careful!! There is pricing table already loaded!)</span>
				</div>
			</div>
	    	
	    </div>
    </div>
{{ form_end(form) }}   



<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
.alert-red {
	color: red;
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#form_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with importing transport rates?{% endtrans %}');
		});
	});
</script>
{% endblock %}