{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{#}
{{ form(form) }}
{#}


{#}example of bootstrap accordian{#}
{#}
<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
  
</div>
{#}

{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="form-group form-begin-control">
	    <div class="col-lg-10 col-lg-offset-0">
	    <div class="panel-group" id="accordion">
	    
	    	{% set category = 0 %}
	    	{% for cv in form.categoryValues %}
	    		
	    		{% if category != cv.vars.value.category.id %}
	    			
	    			{% if category != 0 %}
	    				{#}end tags{#}
	    				</div>
					    </div>
					  </div>
	    			{% endif %}
	    			{% set category = cv.vars.value.category.id %}
	    			{#}begin tags{#}
	    			<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ category }}">
					          {#}Category # {{ category }}{#}
					          {% if category == 12 %}Inox{% elseif category==16 %}Acrynox{% elseif category==21 %}Flat Cut{% elseif category==25 %}Plaque{% else %}n/a{% endif %} - raw materials
					        </a>
					      </h4>
					    </div>
					    <div id="collapse{{ category }}" class="panel-collapse collapse {#}in{#}">
					      <div class="panel-body">
					
	    		{% endif %}
	    	
	    		{{ form_row(cv) }}
	    	{% endfor %}
	    </div>
	    </div>
    </div>
{{ form_end(form) }}    

<div class="row">
<div class="col-lg-12">
			<br>
			<p><code>*Note: unit in <strong>'baht/cm<sup>2</sup>'</strong></code></p>
</div>
</div>



<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
.form-control{
	width: 270px;
}
#accordion .panel-body{
	padding-left: 25px;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#variables_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with updating items?{% endtrans %}');
		});

		
		//custom handler for material rate
		$('input[name*="[formattedRules]"]').each(function(index){

			//to extract only rate (float value) from formula, to make it more friendly to user
			var rateInFloat = parseFloat($('#variables_categoryValues_' + index + '_formattedRules').val());
			$('#variables_categoryValues_' + index + '_rate-virtual').val(rateInFloat);
			$('#variables_categoryValues_' + index + '_rate-virtual').show();
			$('#variables_categoryValues_' + index + '_rate-virtual').attr('type', 'text');
			$('#variables_categoryValues_' + index + '_rate-virtual').attr('rel', index); //add index into 'rel' property
			
			$('#variables_categoryValues_' + index + '_formattedRules').hide();
				
		});

		$('input[name*="[rate-virtual]"]').change(function(event){
			var newRate = parseFloat($(this).val());
			var itemIndex = $(this).attr('rel');
			var curRate = parseFloat($('#variables_categoryValues_' + itemIndex + '_formattedRules').val());
			var formattedRules = $('#variables_categoryValues_' + itemIndex + '_formattedRules').val();
			var newformattedRules = formattedRules.replace(curRate, newRate);
			
			//set new rate into rule
			$('#variables_categoryValues_' + itemIndex + '_formattedRules').val(newformattedRules);
			//alert($('#variables_categoryValues_' + itemIndex + '_formattedRules').val());
					
		});






		
	});
</script>
{% endblock %}