{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}


{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	

    <ul class="nav nav-tabs">
        <li class="active"><a href="#{{ companies[0].clientCode }}" data-toggle="tab">{{ companies[0].name }}</a></li>
        <li><a href="#{{ companies[1].clientCode }}" data-toggle="tab">{{ companies[1].name }}</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active" id="{{ companies[0].clientCode }}">
            <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<br>
	    		{% set cv = form.categoryValues[1] %}
	            {% set category = cv.vars.value.category.id  %}
	            {{ form_row(cv) }}
	            		
	    		{% set cv = form.categoryValues[3] %}
	            {% set category = cv.vars.value.category.id  %}
	            {{ form_row(cv) }}
	            
	            {% set cv = form.categoryValues[4] %}
	            {% set category = cv.vars.value.category.id  %}
	            {{ form_row(cv) }}
            </div>
            </div>
               				
        </div>
        <div class="tab-pane" id="{{ companies[1].clientCode }}">
        	<div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<br>
	            {% set cv = form.categoryValues[0] %}
	            {% set category = cv.vars.value.category.id  %}
	            {{ form_row(cv) }}
	            		
	    		{% set cv = form.categoryValues[2] %}
	            {% set category = cv.vars.value.category.id  %}
	            {{ form_row(cv) }}
	         </div>
	         </div>
            
        </div>
        
     </div>

	
	
	
{{ form_end(form) }}    



<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
.form-control{
	width: 250px;
}
#accordion .panel-body{
	padding-left: 25px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#variables_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with updating items?{% endtrans %}');
		});



		//custom handler for material rate
		$('input[name*="[formattedRules]"]').each(function(index){

			//to extract only rate (float value) from formula, to make it more friendly to user
			var rateInFloat = parseFloat($('#variables_categoryValues_' + index + '_formattedRules').val());
			$('#variables_categoryValues_' + index + '_rate-virtual').val(rateInFloat);
			$('#variables_categoryValues_' + index + '_rate-virtual').show();
			$('#variables_categoryValues_' + index + '_rate-virtual').attr('type', 'text');
			$('#variables_categoryValues_' + index + '_rate-virtual').attr('rel', index); //add index into 'rel' property
			
			$('#variables_categoryValues_' + index + '_formattedRules').hide();
				
		});

		$('input[name*="[rate-virtual]"]').change(function(event){
			var newRate = parseFloat($(this).val());
			var itemIndex = $(this).attr('rel');
			var curRate = parseFloat($('#variables_categoryValues_' + itemIndex + '_formattedRules').val());
			var formattedRules = $('#variables_categoryValues_' + itemIndex + '_formattedRules').val();
			var newformattedRules = formattedRules.replace(curRate, newRate);
			
			//set new rate into rule
			$('#variables_categoryValues_' + itemIndex + '_formattedRules').val(newformattedRules);
			//alert($('#variables_categoryValues_' + itemIndex + '_formattedRules').val());
					
		});
		
	});
</script>
{% endblock %}