{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
	{{ render(controller("QuotemaxDashboardBundle:Quote:list", { 'layoutExcluded': 'true', 'includedFromRoute': 'qmxDashboard_order_list',  'page': app.request.get('page')})) }}
{% endblock %}