<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<div class="container-fluid" style="font-size: 12px;{#}font-size: 12px; letter-spacing: 0.09em;{#}">
<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-12 col-xs-offset-0" style="margin-left: 0px;margin-right: 3px;">
<div class="row">
<div class="col-xs-12">


{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_headerInvoice.html.twig" %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_clientLocation.html.twig"  with { 'templateInclude': 'invoice'} %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_dateAndTermsOfPayment.html.twig" with { 'templateInclude': 'invoice'} %}

{#}system logo{#}
{#}
<div class="row">
<div class="col-xs-12 text-center" >
	<img src="{{ asset('bundles/quotemaxdashboard/images/logo_vsignpro.png', null, true) }}" class="logo-pdf" />
	
</div>
</div>
{#}

{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_remark.html.twig" with { 'templateInclude': 'quotation'} %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_paymentInfo.html.twig" %}
{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_cssStyleTemplate.html.twig" %}



</div>
</div>
</div>
</div>
</div>

{% if 'qmxDashboard_quote_print' in app.request.attributes.get('_route') %}
<script type="text/javascript">

	window.print();
	window.close();
</script>
{% endif %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}

</body>
</html>