{% block content %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}

{#}
{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
{#}

<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-10 col-xs-offset-1">

	<div class="row">
		<div class="col-xs-11">
			{#}{% trans %}Dear Partner{% endtrans %},{#}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			The quotation No {{ quote.code }} from the client {{ quote.company.name}} has been confirmed. 
			<br>
			Please check the payment status at the Bank to confirm the order.
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			Thank you,
			<br>
			The Administrator
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>

</div>
</div>


<style>

</style>

{% endblock %}